# please add general patterns to your global ignore list
# see https://github.com/github/gitignore#readme
.DS_STORE
*.swp
*.swm
*.swn
*.swo
*.rbc
*.sass-cache
/pkg
/doc/api
/Gemfile.lock


###
# Ignore Chef key files and secrets
###
chef_repo/.rake_test_cache
chef_repo/.chef/*.pem
chef_repo/.chef/encrypted_data_bag_secret
chef_repo/.chef/trusted_certs
coverage
